# --- Media & Docs ---
*.pdf
*.png
*.json
*.mp4
*.xlsx
*.docx
*.doc
*.ppt
*.pptx
*.htm
*.xml
*.txt

# --- Database Files ---
*.ldf
*.mdf
*.ndf
*.bak
*.ss

# --- IDE & Build Junk ---
*.layout
*.depend
*.o
*.exe
*.suo
*.log
*.obj
*.idb
*.pdb
*.ilk
*.tlog
*.dll
*.pch
*.bmarks
*.sqlproj.user

# --- Folders ---
x64/
x86/
.vs/
Debug/
Release/
bin/
obj/

# --- System ---
desktop.ini
Thumbs.db