[submodule "SWE & UML/Project/Cinema-Ticket-Reservation-System"]
	path = SWE & UML/Project/Cinema-Ticket-Reservation-System
	url = https://github.com/YoussefHanna64-bit/Cinema-Ticket-Reservation-System
