# --- Media & Docs ---
*.pdf
*.png
*.jpg
*.svg
*.gif
*.json
*.mp4
*.mp3
*.xlsx
*.docx
*.doc
*.ppt
*.pptx
*.htm
*.xml
*.txt
*.rar
*.md

# --- Database Files ---
*.ldf
*.mdf
*.ndf
*.bak
*.ss

# --- IDE & Build Junk ---
*.layout
*.depend
*.o
*.exe
*.suo
*.log
*.obj
*.idb
*.pdb
*.ilk
*.tlog
*.dll
*.pch
*.bmarks
*.sqlproj.user

# --- Folders ---
x64/
x86/
.vs/
Debug/
Release/
bin/
obj/
SQL Queries/
Ignore It/

# --- System ---
desktop.ini
Thumbs.db