# --- Media & Docs ---
*.pdf
*.png
*.jpg
*.jpeg
*.gif
*.mp4
*.mp3
*.xlsx
*.docx
*.doc
*.ppt
*.pptx
*.rar
*.epub
*.txt

# --- Database Files ---
*.ldf
*.mdf
*.ndf
*.bak
*.ss

# --- IDE, Build Junk & Configs ---
.vscode/mcp.json
*.layout
*.depend
*.o
*.exe
*.suo
*.log
*.obj
*.idb
*.pdb
*.ilk
*.tlog
*.dll
*.pch
*.bmarks
*.sqlproj.user
*.user

# --- Frameworks & Security (Node, Angular, .NET) ---
.env
.env.*
.angular/
dist/
out-tsc/
coverage/

# --- Folders ---
practice/
x64/
x86/
.vs/
Debug/
Release/
**/bin/
**/obj/
SQL Queries/
Ignore It/
bootstrap-5.3.8-dist/
Capstone project/
ConsoleApp1/
D0[1-9]/
D1[0-9]/
Day 11/
**/node_modules/
Classwork/
Material/
C++ exams/
Design Pattern Framework 4.0 C# Edition/
**/npm/

# --- System ---
desktop.ini
Thumbs.db
.DS_Store