body {
  background-color: #3bbbec;
  margin: 0;
  padding: 50px 0;
}

#grd {
  width: 80%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 150px);
  margin: 0 auto;
}

#grd div {
  color: white;
  background-color: #333333;
  padding: 5px;
  margin: 5px;
  display: grid;
  place-items: center;
  font-weight: bold;
  font-size: 24px;
}

#one {
  grid-row: 1 / 3;
}
#two {
  grid-column: 2 / -1;
}
#four {
  grid-row: 2 / 4;
  grid-column: 3;
}
#five {
  grid-row: 3;
  grid-column: 1 / 3;
}

@keyframes rotateGrid {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes rotateGridBack {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media (max-width: 900px) {
  #grd {
    animation: rotateGrid 2s ease-in-out forwards;
  }
  #grd div {
    transition: background-color 2s ease-in-out;
  }

  #grd #one {
    background-color: aliceblue;
  }
  #grd #two {
    background-color: aquamarine;
  }
  #grd #three {
    background-color: antiquewhite;
  }
  #grd #four {
    background-color: blueviolet;
  }
  #grd #five {
    background-color: cadetblue;
  }
}

@media (min-width: 900px) {
  #grd {
    animation: rotateGridBack 2s ease-in-out forwards;
  }
  #grd div {
    transition: background-color 2s ease-in-out;
  }
}
