#cnt , #frmH , .formCategory ,#h1id {
    text-decoration: underline;
}

#cnt {
    font-size: large;
}


#f1 {
    font-family:'Times New Roman', Times, serif;
}

#f2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#f3 {
    font-family:Arial, Helvetica, sans-serif;
}

#sz1 {
    font-size: 10px;
}

#sz2 {
    font-size: 20px;
}

#sz3 {
    font-size: 30px;
}

#rd {
    color: red;
}

#bl {
    color: blue;
}

#gr {
    color: green;
}

div #next {
    text-align: right; 
}

table , td{
    border: 3px , solid , gray ;
    border-collapse: collapse;
}

td {
    padding: 10px;
    color: #7A0303;
    font-weight: bold;
}

table {
    margin: auto;
}

.formCategory , .headTitle {
    text-align: center;
}

#bio {
    resize: none;
}

#formbutton {
    text-align: center;
}

#submit  {
    margin-left: auto;
    margin-right: auto;
}

#country , #birthday {
    min-width: 100%;
}

#loginLegend {
    color:  #CF1338;
    font-weight: bold;
}

#loginform {
    width: 30%;
    margin: auto;
}

#loginField {
    border-color: #7AA7E8;
}

#loginUserName , #loginPassword , #rememberMe {
    margin-bottom: 10px;
}

#loginSubmit {
    text-align: center;
    margin: 10px;
}

#loginSubmit input {
    color: #7A0303;
}

.logReg {
    background-color: #F0F8FF;
}

#selectCountry {
    text-align:center;
}
 
.pnkPage {
    background-color: #FED7D9;
}