div {
  width: 100px;
  height: 100px;
  position: relative;
}

div::before,
div::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  background-color: red;
}

div::before {
  top: 0;
  border-radius: 50px 50px 0px 0px;
  transform-origin: bottom center;
  animation-name: packman-top;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

div::after {
  bottom: 0;
  border-radius: 0px 0px 50px 50px;
  transform-origin: top center;
  animation-name: packman-bottom;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes packman-top {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-35deg);
  }
}

@keyframes packman-bottom {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(35deg);
  }
}
