body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------------------ */
header {
  background-color: #c3c3c3;
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 80%;
}

#div1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#div1 img {
  width: 60px;
}

#links {
  width: 500px;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  width: 400px;
}

#div2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#div2 b {
  width: 400px;
  font-size: 30px;
}

#div2 #slider {
  background-color: #9f9f9f;
  width: 500px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-size: 30px;
}
/* ------------------- */
section {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

section img {
  margin: 10px;
  width: 250px;
  height: 150px;
}

/* ----------------- */
section + div {
  background-color: #c3c3c3;
  padding: 10px;
  display: flex;
  justify-content: left;
  width: 51%;
}

/* ------------------ */
footer {
  background-color: #c3c3c3;
  padding: 10px 50px;
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  flex-wrap: wrap;
}

#Copyright {
  width: 120px;
}
