#menu {
  background-color: #f1f1f1;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.menu-item {
  text-align: center;
  width: 350px;
  padding: 5px;
}

/* ---------Boxes------------- */
#box-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 150px;
  border: 4px solid black;
  padding: 15px;
  margin: 5px;
  font-size: 20px;
}

.footer {
  padding: 5px;
  background-color: #f1f1f1;
  width: 100%;
  text-align: center;
}
